@charset 'utf-8';
*{
	box-sizing: border-box;
}
body{
	background-color:white;
}
/*----------------------responsive coding of below 575 px screen size goes here -----------------*/
@media (max-width: 575.98px) {
	.border-style{
		border: 1px solid lightgrey;
		border-radius: 5px;
	}
	.border-style:hover{
		border: 1px solid grey;
		border-radius: 5px;
	}
	.dropdown-toggle{
		padding: 5px 5px 3px 3px;
		background-color: grey;
		margin:15px 0 0 7%;
	}
	.modal-content{
		height: 80vh;
		width: 100%;
	}
	.mt-xsm-2{
		margin-top: 60px;
	}

	/*---------------------Journal menu and refresh new navbar style coding goes here--------------------*/
	.xsm-journal{
		float: left;
		width:20%;
		margin: -50px 0 0 70%;
	}
	
	#add-filter-btn{
		margin-top: 130px;
	}
	.journal-modified{
		margin-top: 20px;
		width: 100%;
		text-align: center;
	}
	.jounal-menu-dropdown{
		border: 1px solid green;
		width: 180px;
		height: content;
		-webkit-box-shadow: -1px 4px 16px 0px rgba(112,112,112,1);
		-moz-box-shadow: -1px 4px 16px 0px rgba(112,112,112,1);
		box-shadow: -1px 4px 16px 0px rgba(112,112,112,1);
	}
	.jounal-menu-dropdown button{
		font-size:12px;
		display: inline-block;
		height:45px;
	}
	.xsm-text-journal{
		font-size: 20px;
	}
	.text-sm-center{
		display: inline-block;
		position: absolute;
		color: black;
		top:10%;
		font-size: 10rem;
		color: white;
		font-weight: bold;
	}
	/*journal voucher entry for accouting*/
	.journal-entry{
		margin-top: 5%;
	}
	.journal-entry div:nth-child(1){
		padding-top: 5px;
	}
	/*market place style coding goes here*/
	.bdr-rds-sm{
		margin-top: 20px;
	}
	/*--------------market place descrption page goes here------------*/

}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	.border-style{
		border: 1px solid lightgrey;
		border-radius: 5px;
	}
	.border-style:hover{
		border: 1px solid grey;
		border-radius: 5px;
	}
	.dropdown-toggle{
		padding: 5px 5px 3px 3px;
		background-color: grey;
		margin:15px 0 0 12px;
	}
	.modal-content{
		height: 80vh;
		width: 100%;
	}
	.text-sm-center{
		display: inline-block;
		position: absolute;
		color: black;
		top:10%;
		font-size: 10rem;
		color: black;
		font-weight: bold;
	}
	.jounal-menu-dropdown{
		border: 1px solid green;
		width: 180px;
		height: content;
		-webkit-box-shadow: -1px 4px 16px 0px rgba(112,112,112,1);
		-moz-box-shadow: -1px 4px 16px 0px rgba(112,112,112,1);
		box-shadow: -1px 4px 16px 0px rgba(112,112,112,1);
	}
	.jounal-menu-dropdown button{
		font-size:12px;
		display: inline-block;
		height:45px;
	}
	.btn-new{
		padding: 0;
		width: 30px;

	}
	/*------------marketplace serach box style coding goes here ------------------*/

}
/*------------------- Medium devices (tablets, 768px and up)----------------*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	.border-style{
		border: 1px solid lightgrey;
		border-radius: 5px;
	}
	.border-style:hover{
		border: 1px solid grey;
		border-radius: 5px;
	}
	.dropdown-toggle{
		padding: 5px 5px 3px 3px;
		background-color: grey;
		margin:15px 0 0 3px;
	}
	.modal-content{
		height: 80vh;
		width: 100%;
	}
	.jounal-menu-dropdown{
		border: 1px solid green;
		width: 180px;
		height: content;
		-webkit-box-shadow: -1px 4px 16px 0px rgba(112,112,112,1);
		-moz-box-shadow: -1px 4px 16px 0px rgba(112,112,112,1);
		box-shadow: -1px 4px 16px 0px rgba(112,112,112,1);
	}
	.jounal-menu-dropdown button{
		font-size:12px;
		display: inline-block;
		height:45px;
	}
	/*------------------marketplace search box style coding goes here for medium device----------------------- */
	.margin{
		font-size: 24px;
		/*margin-left:-40%;*/
		width:40px; height:
		37px;border: none;
		background-color: orange; 
	}
	/*------------------marketplace search box style coding end here for medium device----------------------- */
}
/*--------------------- Large devices (desktops, 992px and up)------------------*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.border-style{
		border: 1px solid lightgrey;
		border-radius: 5px;
	}
	.border-style:hover{
		border: 1px solid grey;
		border-radius: 5px;
	}
	.dropdown-toggle{
		padding: 5px 5px 3px 3px;
		background-color: grey;
		margin:15px 0 0 -2px;
	}
	.modal-content{
		height: 80vh;
		width: 100%;
	}
	.jounal-menu-dropdown{
		border: 1px solid green;
		width: 180px;
		height: content;
		-webkit-box-shadow: -1px 4px 16px 0px rgba(112,112,112,1);
		-moz-box-shadow: -1px 4px 16px 0px rgba(112,112,112,1);
		box-shadow: -1px 4px 16px 0px rgba(112,112,112,1);
	}
	.jounal-menu-dropdown button{
		font-size:12px;
		display: inline-block;
		height:45px;
	}
	/*------------------marketplace search box style coding goes here for large device----------------------- */
	.margin{
		font-size: 24px;
		width:40px;
		height:37px;
		border: none;
		background-color: orange; 
	}
	/*------------------marketplace search box style coding end here for large device------------------- */
}
/*-------------------- Extra large devices (large desktops, 1200px and up)---------------*/
@media (min-width: 1200px) {
	.border-style{
		border: 1px solid lightgrey;
		border-radius: 5px;
	}
	.border-style:hover{
		border: 1px solid grey;
		border-radius: 5px;
	}
	.dropdown-toggle{
		padding: 5px 5px 3px 3px;
		background-color: grey;
		margin:15px 0 0 -5px;
	}
	.modal-content{
		height: 80vh;
		width: 100%;
	}
	.jounal-menu-dropdown{
		border: 1px solid green;
		width: 180px;
		height: content;
		-webkit-box-shadow: -1px 4px 16px 0px rgba(112,112,112,1);
		-moz-box-shadow: -1px 4px 16px 0px rgba(112,112,112,1);
		box-shadow: -1px 4px 16px 0px rgba(112,112,112,1);
	}
	.jounal-menu-dropdown button{
		font-size:12px;
		display: inline-block;
		height:45px;
	}
	/*----------------marketplace responsive for xtra large screen goes here ------------------*/
	.margin{
		font-size: 24px;
		/*margin-left:-20%;*/
		width:40px;
		height:37px;
		border: none;
		background-color: orange; 
	}
	/*----------------marketplace responsive for xtra large screen end here ------------------*/
}
/*Journal page dropdown menu item shadow coding goes here*/

.btn-lightgrey{
	background-color: #F5F7FA;
}
.btn-lightgrey:hover{
	background-color: #DDFAF6;
}

.btn-calender{
	width: 68%;
	text-align: left;
	border-radius: 0;
	border-bottom: 2px solid #ccc;
}
#add-field-to-journal label{
	font-size:12px;
	margin: 0 0 0 -5px;
}
.container ul>li{
	font-size: 14px;
	color: #9B9A90;
	margin: 10px 0 0 0;
}
.btn-group .btn-light{
	background-color: white;
	border: none;
}
.btn-group{
	border: none;
}
.btn-light{
	background-color: white;
}
#new-journal-create{
	width: 50%;
	height: 20px;
	position: relative;
	top: 50%;
	left: 30%;
	transform: translate(0,50%);
}
.border-lightgrey{
	border:1px solid #C4C4C4;
}
.border-lightgrey>h5{
	margin-top: 15px;
}

/*marketplace get premium images goes here*/
.img-pre-hover:hover{
	-webkit-box-shadow: -1px 2px 14px 8px rgba(245,195,46,1);
	-moz-box-shadow: -1px 2px 14px 8px rgba(245,195,46,1);
	box-shadow: -1px 2px 14px 8px rgba(245,195,46,1);
}
/*------------description of product goes here-------------*/
.color-orange{
	color: orange;
}
i.color-orange{
	font-size: 30px;
}
	.prd-dsp-sxm-h{
		height: auto;
	}
/*------------description of product end here-------------*/

/*-----------social chat box shadow coding goes here--------------------*/
.chat-box{
	height: 400px;
}
.chat-box:hover{
	-webkit-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.75);
}
/*------------account list style coding goes here-------------*/
.account-list-style{
	list-style-type: circle;
}
/*------------account list style coding goes here-------------*/

/*----------anchor text color for home applinces product------------- */
.text-agriculture ~ a>li {
	text-decoration: none;
	color:#D6D6D6;
}
.text-agriculture {
	text-decoration: none;
	color:lightgreen;
}
.text-agriculture ~ a[href='appliance.html']>li,
a[href='market_place/babyproduct.html']>li,
a[href='market_place/appliance.html']>li,
a[href='market_place/electrical.html']>li {
	color:lightgreen;
}
.text-agriculture ~ a[href='babyproduct.html']>li,a[href='electrical.html']>li,
a[href='appliance.html']>li {
	color:lightgreen;
}
/*----------anchor text color for home applinces product end here------------- */
/*------------- navbar scroll style coding goes here------------- */
.navbar-fixed{
	position: fixed;
	z-index: 10;
	background-color:white;
}
/* ------------------fa fa icon size for blog page style coding goes here---------*/
.fa-icon-blog{
	font-size: 27px;
}
/* ------------------fa fa icon size for blog page style coding end here---------*/
/* ------------------images size for blog page style coding goes here---------*/
.blog-img{
	height: 70vh;
}
/* ------------------images size for blog page style coding goes here---------*/
